# Contingency tables and external resources
This notebook will lookthrough the creation of contingency tables

In [8]:
# Import the data and make sure it has imported corecntly 
import pandas as pd 

data = pd.read_csv('https://raw.githubusercontent.com/chroadhouse/Futureme/main/Data/titanic.csv')

In [9]:
#Check the data is imported
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
# Before looking at contingency tables you many want to create some custom tables with more than one column
#We can do this by creating two seperate tables and then merging the data
age_mean = data['Age'].mean()
age_mode = data['Age'].mode()
age_median = data['Age'].median()
age_max = data['Age'].max()
age_min = data['Age'].min()
age_stand = data['Age'].std()

age_table = pd.DataFrame({
    'Mean':age_mean,
    'Mode':age_mode,
    'Median':age_median,
    'Maximum':age_max,
    'Minumum':age_min,
    'Standard Deviation':age_stand
})



fare_mean = data['Fare'].mean()
fare_mode = data['Fare'].mode()
fare_median = data['Fare'].median()
fare_max = data['Fare'].max()
fare_min = data['Fare'].min()
fare_stand = data['Fare'].std()


fare_table = pd.DataFrame({
    'Mean':fare_mean,
    'Mode':fare_mode,
    'Median':fare_median,
    'Maximum':fare_max,
    'Minumum':fare_min,
    'Standard Deviation':fare_stand
})

#We can now combine these two tables together to make looking at the data more manabale 

combined_table = pd.DataFrame({
    'Type':['Age', 'Ticket Fare'],
    'Mean':[age_mean, fare_mean],
    'Mode':[age_mode[0], fare_mode[0]],
    'Median':[age_median, fare_median],
    'Maximum':[age_max, fare_max],
    'Minumum':[age_min, fare_min],
    'Standard Deviation':[age_stand, fare_stand]
}).set_index('Type')

 
combined_table

                  Mean   Mode   Median   Maximum  Minumum  Standard Deviation
Type
Age          29.699118  24.00  28.0000   80.0000     0.42           14.526497
Ticket Fare  32.204208   8.05  14.4542  512.3292     0.00           49.693429

# Contingency Tables
We would want to use contingency tables when we want to observe the relationship between categorical data

# Extrernal resources 
If you have enjoyed this brief introduction to using python for data analysis, consider broadening your knowledge in programming and python. Why ? 
* Coding is becoming one of the most sought after skills showing:
    * Problem solving skills 
    * Technical skills
    * Motivation 

Progrmaming and computer science is one of the main subjects that have a large amount of detailed resources to help you learn and develop, some of these resources providing certificates for proof of programming.
* FreeCodeCampe -  https://www.freecodecamp.org - Provide easy and intuative courses with certificates to give credit for course completion offering courses such as:
    - Web development
    - Data Analysis using python 
    - Sceintific computing using python 
    - Machine Learning (AI) using python 
    - Algorithms and Data structures in Javascript 

* Linkedin Learning - All MMU students have access to linkedin learning which is usually a paid for service and it provides multiple video courses that have certificates linked to your linkedin account (also count towards rise goal - giving credits for course completion)

* CS Dojo Youtube account - provide multiple resources aimed at beginngers to try and encourage coding

* Rise - Courses like this are great ways to be introduced to new parts of programming