# Day One: Intro to python and python in Data Analysis
Python is an extremly useful and powerful programming langauge, which allowed it to become one of the most used and in demand langauges used by developers. One of the main reasons for this is the library packagaes that can be added onto python allowing for easy data analysis. As well as the langauge being easy to understand and easy to learn.

## Basics of python 
Before we look at analysing data with python we first need to be introduced to some of the basics of python. These are only a small amount of things that python offer and has being tailored to this course
- Variable 
- Data Types 
- Data structures (List and Dictionary)
- Methods 
- Importing Modules

## Variable 
A variable is most basic thing in programming and is used in all programs. A variable stores a value that can be called and changed while the program is running. There are other data structures that will be shown later in the notebook. When we set data to variables we use the =, you could read is as 'is'. 
e.g., 
- x = 10
- x is 10

In [1]:
x = 10 
print(x)

10

## Data Types 
In nearly all programming languages there are different types of data with some of the main one being:
- String 
- Integer
- Character (this data type is not in python though - single characters are treated as a string)
- Boolean 
- Float and Double (Decimal)

Python is a non-strict type language which means we do not have to state what the variable type will be like other langauges (like java or c++), instead it intuitively works out what the data type is from the data that you give it. Even though python works out what the data type is, we should know what the type is since this is something

In [2]:
#Example storing a university students data
#String 
name = "James Taylor"

#Int 
age = 21

#Double/Float
average_score = 0.8

#Boolean
placement_year = True

You can check data types using the type() method, which can be useful when evaulating subsets of data

In [3]:
#Shows the types
type(name) , type(age), type(average_score), type(placement_year)

(str, int, float, bool)

## Data Structures 
With already looking at variables there are some other key data structures that are useful when looking at data analysis, mainly looking at data structures that can hold mutiple pieces of data
- Lists 
- Dictionaries  

# List 
A list is a data structure that allows you to be able to store multiple values, such as variables in one list and then access the different index's in the list. 
We tell python we want to use a list using the [] when adding data to the list.

In [4]:
#We declare a empty list 
list = []

list = [1,2,3,4,5,6,7,8,9]

When accessing a list, we must give the position of the list, sometimes referred to as the index of the list. 

In programming we start the index of a list a 0. This is called zero based indexing. If you try and pass an index value to the list that is not there you will produces errors, and the code may not run

In [5]:
#Access and store the first value of the list in a variable 
item_one = list[0]

#We can also change the values of the list 
list[0] = 100

1
[100, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionaries 
Sometimes we want to be able to retrieve data without trying to find and remember the index of the list, this is where dictionaries come in. 
They take two values - the key : the value and we tell python we want to use a dict using the {}

In [6]:
students = {
    'name':'James Taylor',
    'age':21,
    "placement_year":True
}

students

{'name': 'James Taylor', 'age': 21, 'placement_year': True}

In [7]:
#We can change the values linked to the key with this:
students['name'] = 'John Taylor'

students

{'name': 'John Taylor', 'age': 21, 'placement_year': True}

In [8]:
#We can also have a list stored in the values section
students = {
    'name':['James Taylor', 'Georgia Smith'],
    'age':[21, 24],
    "placement_year":[True, False]
}

students

{'name': ['James Taylor', 'Georgia Smith'],
 'age': [21, 24],
 'placement_year': [True, False]}

## Methods and Importing Modules 
These are the final main things that you need to know about python to be able to take on the rest of this data analysis course. Even though these are very important aspects of python there are other things such as Classes and Objects that are just as important but will not be brought up in this notebook to make sure that it is not too time consuming and that you are not stuck learning all of python before getting to the data analysis. 

### Methods
Think of this as a wrapper that you put around some code. You can then call this and run the code, allowing for repittion. This is a really useful thing that programmers use to make writing code easier and more efficient. You can write you own methods but python also comes with some premade methods that mean we don't have to do as much as the work. All the things we are going to use in the pandas library are methods that have already been made for us to use and we are simply calling them

In [9]:
#This is an example of a method that we could write ourselves
def hello(name):
    print(f'Hello + {name}')

hello('Charlie')

Hello + Charlie

In [10]:
#The print() command is a method that has being created by someone that we can use
print('This is an example of a method made by someone else ')

This is an example of a method made by someone else

### Importing Modules 
Importing modules (libraries) is one of the most important features of a good programming language as they made the language more diverse to be able to take on different tasks. For example without importing the pandas library we would not be able to carry out as much data analysis. By importing them it simply means we can access the code inside the libraries. We would usually have to install these libraries onto our machines to be able to run them but anaconda3 and google collab come pre-installed with the libraries we will need.

In [11]:
#An example of importing the Random module and giving it the name r 
import random as r 

#Using the randint method that prints a random number from a range given
print(r.randint(0,10))

0

# Basics of Data analysis: importing the data and useful methods
For a lot of data manipulation and analysis the main modules that are needed are the pandas and numpy libraries. In this notebook the pandas library will be used to import the data and manipulte the data. Due to the size of the library it means that there are lots of different methods and functions that can be used, this notebook will only look at some. To look at more methods or get further information about functions we will look at in this document, please look at the documentation for the library: https://pandas.pydata.org/docs/user_guide/index.html

In [12]:
#The module is imported and given the alias pd 
import pandas as pd 

#If you want to run all code locally then uncomment this line and make sure the data is in the correct place
#data = pd.read_csv('Data/titanic.csv')

#CSV file data is read into file and stored in the variable data
#This is being pulled from an online github - so can only be run when connected to internet
data = pd.read_csv('https://raw.githubusercontent.com/chroadhouse/Futureme/main/Data/titanic.csv')

# Inital look at the data 
When importing the data it's good to do some initial analysis of the data to familiarise yourself with the data set 

* .head() - shows gives you a small amount of the data

* .columns - gives you the names of the columns of the tables 

* .describe() - displays data about the quantitative data such as the mean, max, count and minimum (but these values are not stored)

* .info() - gives you a run down of the data set

* .dtypes() - gives you the different data types for the column names 

* .shape - gives you the shape of the database in terms of rows and columns

In [13]:
#This is usually run to ensure that the data set has imported correctly into the file
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,Not Survive,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,Survived,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,Survived,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,Survived,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,Not Survive,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
#Prints the columns of the dataset
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
#Gives back the info of each column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [16]:
#Returns the stats for all numerical columns
data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [17]:
#Gives you the data types for each column 
data.dtypes

PassengerId      int64
Survived        object
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [18]:
#Gives you the shape of the dataset in (rows,columns)
data.shape

(891, 12)