In [3]:
import pandas as pd 

data = pd.read_csv('https://raw.githubusercontent.com/chroadhouse/Futureme/main/Data/titanic.csv')

age_mean = data['Age'].mean()
age_mode = data['Age'].mode()
age_median = data['Age'].median()
age_max = data['Age'].max()
age_min = data['Age'].min()
age_stand = data['Age'].std()

#Here we create a dictionary with the key being the title of the column and the value being the variables we created above
age_table = pd.DataFrame({
    'Mean':age_mean,
    'Mode':age_mode,
    'Median':age_median,
    'Maximum':age_max,
    'Minumum':age_min,
    'Standard Deviation':age_stand
})

print(age_table)

fare_mean = data['Fare'].mean()
fare_mode = data['Fare'].mode()
fare_median = data['Fare'].median()
fare_max = data['Fare'].max()
fare_min = data['Fare'].min()
fare_stand = data['Fare'].std()


fare_table = pd.DataFrame({
    'Mean':fare_mean,
    'Mode':fare_mode,
    'Median':fare_median,
    'Maximum':fare_max,
    'Minumum':fare_min,
    'Standard Deviation':fare_stand
})

print(fare_table)

#We can now combine these two tables together to make looking at the data more manabale 

#Short term fix for the mode variable that i cannot not see why it is doing this 
combined_table = pd.DataFrame({
    'Type':['Age', 'Ticket Fare'],
    'Mean':[age_mean, fare_mean],
    'Mode':[age_mode[0], fare_mode[0]],
    'Median':[age_median, fare_median],
    'Maximum':[age_max, fare_max],
    'Minumum':[age_min, fare_min],
    'Standard Deviation':[age_stand, fare_stand]
}).set_index('Type')

#Coming into some sore of error here - error for the mode variable here 
combined_table

        Mean  Mode  Median  Maximum  Minumum  Standard Deviation
0  29.699118  24.0    28.0     80.0     0.42           14.526497
        Mean  Mode   Median   Maximum  Minumum  Standard Deviation
0  32.204208  8.05  14.4542  512.3292      0.0           49.693429

                  Mean   Mode   Median   Maximum  Minumum  Standard Deviation
Type
Age          29.699118  24.00  28.0000   80.0000     0.42           14.526497
Ticket Fare  32.204208   8.05  14.4542  512.3292     0.00           49.693429